.masthead {
  /* Layout Declrations */
  padding: 140em 0;
	/* Appearance Declrations */
	
  background-image:
    url("https://images.unsplash.com/photo-1451303688941-9e06d4b1277a?crop=entropy&dpr=2&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450");
  color: white;
  background-repeat:no-repeat ;
   
  background-size:cover; 

  border-top:solid 1em #111111;
  
  

}
.larger-header-text{
  font-size:20px;
}
h1{
font-family: 'Old Standard TT', serif;
font-weight:400;
}
.kala-font{
  font-family: 'Erica One', cursive;
  font-size:120px;
}
.font{
  font-family: 'Merriweather', serif;
  font-weight:400;
  font-size:40px;
}

.font2{
font-family: 'Old Standard TT', serif;
font-weight:800;
  font-size:30px;
  
}
.font3{
font-family: 'Old Standard TT', serif;
font-weight:800;
  font-size:150px;
  
}

.font4{
  font-family: 'Merriweather', serif;
  font-weight:400;
  font-size:25px;
  color:#594F49;
}
.font5{
  font-family: 'Old Standard TT', serif;
font-weight:800;
  font-size:40px;
}
.about-me-text{
  color:black;
 
}
.about-me-text2{
  color:black;
}
.text{
  margin-left:150px;
  
}
.orange-text{
 color: orange;
  size:14px;
}



/* LAYOUT*/
.masthead-intro,.masthead-intro {
    text-align: center;
}
.masthead {
    padding: 1em 0;
   
}

.masthead-intro {
    margin-bottom: 0.1em;
}

.masthead-heading {
    margin-top: -0.0em;
    text-align:center;
}

  .center {
    margin: auto;
    width: 50%;
    border: 9px solid #594F49;
    padding: 0px;
}  
.content-footer {
    text-align: center;
  margin-top: 5em;
	padding: 4em 0;
	/* Appearance Rules */
	background-color: #594F49;

}
.social > li {
    display: inline-block;
}
.content-footer > p {
    color: white;
}
.pad{
  padding-left:200px;
  padding-right:250px;
}